* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: purple;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  background-color: rgb(178, 12, 178);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;

}

main img {
  width: 100%;
  height: auto;
}

/* main div {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-55%, 400%);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
} */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
} 

.gyvunas {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.gyvunas img {
  width: 100%;
  height: auto;
}

.gyvunas h3 {
  font-size: 20px;
  margin-top: 10px;
}

.gyvunas p {
  font-size: 14px;
  color: #333;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: purple;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
@media screen and (min-width: 768px) {
  
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
    }
  }
