.left
{
grid-area: left;
}
.right{
 grid-area: right;
}
.middle{
 grid-area: middle;    
}
body{
    background-color: #a1a1a1;
}
.container{
    display: grid;
    gap: 10px;
    grid-area: "left middle right";
}
